*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--main-bg-color);
    color: var(--main-color);
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.row:after, .row:before{
    box-sizing: border-box;
}
.bg-primary{
    background: $primary-color;
}

.bg-success{
    background: $success-color;
}

.bg-warning{
    background: $warning-color;
}

.bg-danger{
    background: $danger-color;
}
.float-right{
    float: right;
}
table{
    border-collapse: collapse;
    width: 100%;
    td{
        border-top: 1px solid var(--second-bg-color); 
        padding: 15px;
    }
}

table th{
    border-top: 1px solid var(--second-bg-color); 
    border-bottom: 1px solid var(--second-bg-color); 
    padding: 15px 12px;
    text-align: left;
}



[class*="col-"]{
    padding: 10px;
}

//Extra small devices <= 600px
@media(max-width: 600px){
    .sidebar{
        width: 0px;
    }
    .wrapper{
        margin-left: 0;
    }
    .sidebar-expand .wrapper{
        margin-left: 0;
    }
    .nav-right .nav-item{
        display: none;
    }
    .nav-night .mode, .nav-right , .avt-wrapper{
        display: list-item;
    }
    .navbar-search{
        display: none;
    }
    .dropdown-menu{
        max-width: 300px;
    }
    [class*="col-"]{
        width: 100%;
    }
    
    .col-xs-1{width: 8.33%;}
    .col-xs-2{width: 16.66%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.33%;}
    .col-xs-5{width: 41.66%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.33%;}
    .col-xs-8{width: 66.66%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.33%;}
    .col-xs-11{width: 91.66%;}
    .col-xs-12{width: 100%;}
    
}

//Small devices >= 600px
@media(min-width: 600px){
    [class*="col-"]{
        width: 100%;
    }
    
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}
}

//MEdiaum devices >= 768px
@media(min-width: 768px){
    .col-md-1{width: 8.33%;}
    .col-md-2{width: 16.66%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33%;}
    .col-md-5{width: 41.66%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33%;}
    .col-md-8{width: 66.66%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33%;}
    .col-md-11{width: 91.66%;}
    .col-md-12{width: 100%;}
}

//laptop/ desktops >= 992px
@media(min-width: 992px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}

//Large latops and desktop >= 1200px
@media(min-width: 1200px){
    .col-xl-1{width: 8.33%;}
    .col-xl-2{width: 16.66%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.33%;}
    .col-xl-5{width: 41.66%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.33%;}
    .col-xl-8{width: 66.66%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.33%;}
    .col-xl-11{width: 91.66%;}
    .col-xl-12{width: 100%;}
}