.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    .navbar-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        .nav-item {
            &__link {
                float: left;
                text-align: center;
                padding: 21px 10px;
                text-decoration: none;
                font-size: 17px;
                color: var(--second-color);
                position: relative;
                &:hover {
                    cursor: pointer;
                }
                i {
                    font-size: 1.5rem;
                }
            }
            .logo {
                height: 60px;
                padding: 10px;
            }
        }
    }
    .navbar-search {
        position: relative;
        margin: auto;
        width: 50%;
        input {
            background: var(--second-bg-color);
            border: none;
            padding: 12px 50px 12px 50px;
            width: 100%;
            outline: none;
            color: var(--main-color);
            border-radius: 20px;
        }
        i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: var(--main-color);
            cursor: pointer;
        }
    }
    .nav-right {
        margin-left: auto;
        .avt {
            padding: 11px;
            cursor: pointer;
            img {
                width: 39px;
                height: 39px;
                border-radius: 50%;
            }
        }
        .navbar-badge {
            font-size: 0.6rem;
            padding: 2px 4px;
            position: absolute;
            right: 5px;
            top: 9px;
            color: #ffffff;
            background: $danger-color;
            border-radius: 5px;
        }
        .dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
            }
            .dropdown-menu {
                list-style: none;
                display: none;
                flex-direction: column;
                position: absolute;
                right: 20%;
                top: 90%;
                background: var(--main-bg-color);
                max-width: 300px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                padding: unset;
                border-radius: 10px;
                border: 0.125px solid var(--second-bg-color);
                &__header{
                    padding: 20px;
                    text-align: center;
                    border-bottom: 1px solid var(--second-bg-color);
                }
                &__content {
                    max-height: 500px;
                    overflow-y: auto;
                    
                }
                .dropdown-menu-item {
                    width: 100%;
                    &__link {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        color: var(--main-color);
                        div {
                            min-width: 82px;
                            height: 50px;
                            position: relative;
                            i {
                                font-size: 1.25rem;
                                color: var(--second-color);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        span {
                            font-size: 15px;
                            width: 298px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            & > span {
                                font-size: 10px;
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            background: var(--second-bg-color);
                        }
                    }
                }
                .overlay-scrollbar::-webkit-scrollbar{
                    width: 9px;
                    height: 9px;
                    display: none;
                }
                .overlay-scrollbar::-webkit-scrollbar-thumb{
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: 10rem;
                    border: 1px solid var(--main-bg-color);

                }
                .overlay-scrollbar::-webkit-scrollbar-track-piece:start{
                    background: transparent;
                }
                .overlay-scrollbar::-webkit-scrollbar-track-piece:end{
                    background: transparent;
                }
                .overlay-scrollbar:hover::-webkit-scrollbar{
                    display: block;
                }

                &__footer{
                    padding: 20px;
                    text-align: center;
                    border-top: 1px solid var(--second-bg-color);
                }
            }
            .dropdown-expand{
                display: flex;
            }
            .notificaiton-menu{
                min-width: 380px;
            }
        }
    }
}
