.sidebar{
    width: 82px;
    height: 100vh;
    position: fixed;
    margin-top: 65px;
    background: var(--main-bg-color);
    box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
    overflow: hidden;
    z-index: 10;
    transition: width .5s;
    .sidebar-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        .sidebar-nav-item{
            width: 100%;
            &__link {
                display: flex;
                align-items: center;
                color: var(--main-color);
                text-decoration: none;
                i{
                    font-size: 1.5rem;
                    color: var(--second-color);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                div{
                    min-width: 82px;
                    height: 50px;
                    position: relative;
                }
                &:hover{
                    background: var(--second-bg-color);
                }
                &.active{
                    background: var(--second-bg-color);
                    color: $danger-color;
                    div{
                        border-left: 5px solid $danger-color;
                    
                    }
                    i{
                        color: $danger-color;
                        margin-left: -5px;
                    }
                }
            }
            
        }
    }
    &:hover{
        width: 250px;
    }

}
.sidebar-expand .sidebar{
    width: 250px;
}
.sidebar-expand .wrapper{
    margin-left: 250px;
}
