$primary-color: #4834d4;
$success-color: #6ab04c;
$warning-color: #f0932b;
$danger-color: #eb4d4b;

$light-color: #212529;
$light-second-color: #727475;
$light-background: #ffffff;
$light-second-background: #f1f1f1;

$dark-color: #909090;
$dark-second-color: #f5f6fa;
$dark-background: #23242d;
$dark-second-background: #181818;

.light {
    --main-bg-color: #{$light-background};
    --second-bg-color: #{$light-second-background};
    --main-color: #{$light-color};
    --second-color: #{$light-second-color};
}

.dark {
    --main-bg-color: #{$dark-background};   
    --second-bg-color: #{$dark-second-background};
    --main-color: #{$dark-color};
    --second-color: #{$dark-second-color};
}
