.light {
  --main-bg-color: #ffffff;
  --second-bg-color: #f1f1f1;
  --main-color: #212529;
  --second-color: #727475;
}

.dark {
  --main-bg-color: #23242d;
  --second-bg-color: #181818;
  --main-color: #909090;
  --second-color: #f5f6fa;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
  color: var(--main-color);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row:after, .row:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-primary {
  background: #4834d4;
}

.bg-success {
  background: #6ab04c;
}

.bg-warning {
  background: #f0932b;
}

.bg-danger {
  background: #eb4d4b;
}

.float-right {
  float: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border-top: 1px solid var(--second-bg-color);
  padding: 15px;
}

table th {
  border-top: 1px solid var(--second-bg-color);
  border-bottom: 1px solid var(--second-bg-color);
  padding: 15px 12px;
  text-align: left;
}

[class*="col-"] {
  padding: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    width: 0px;
  }
  .wrapper {
    margin-left: 0;
  }
  .sidebar-expand .wrapper {
    margin-left: 0;
  }
  .nav-right .nav-item {
    display: none;
  }
  .nav-night .mode, .nav-right, .avt-wrapper {
    display: list-item;
  }
  .navbar-search {
    display: none;
  }
  .dropdown-menu {
    max-width: 300px;
  }
  [class*="col-"] {
    width: 100%;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: var(--main-bg-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar .navbar-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar .navbar-nav .nav-item__link {
  float: left;
  text-align: center;
  padding: 21px 10px;
  text-decoration: none;
  font-size: 17px;
  color: var(--second-color);
  position: relative;
}

.navbar .navbar-nav .nav-item__link:hover {
  cursor: pointer;
}

.navbar .navbar-nav .nav-item__link i {
  font-size: 1.5rem;
}

.navbar .navbar-nav .nav-item .logo {
  height: 60px;
  padding: 10px;
}

.navbar .navbar-search {
  position: relative;
  margin: auto;
  width: 50%;
}

.navbar .navbar-search input {
  background: var(--second-bg-color);
  border: none;
  padding: 12px 50px 12px 50px;
  width: 100%;
  outline: none;
  color: var(--main-color);
  border-radius: 20px;
}

.navbar .navbar-search i {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--main-color);
  cursor: pointer;
}

.navbar .nav-right {
  margin-left: auto;
}

.navbar .nav-right .avt {
  padding: 11px;
  cursor: pointer;
}

.navbar .nav-right .avt img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.navbar .nav-right .navbar-badge {
  font-size: 0.6rem;
  padding: 2px 4px;
  position: absolute;
  right: 5px;
  top: 9px;
  color: #ffffff;
  background: #eb4d4b;
  border-radius: 5px;
}

.navbar .nav-right .dropdown {
  position: relative;
}

.navbar .nav-right .dropdown:hover {
  cursor: pointer;
}

.navbar .nav-right .dropdown .dropdown-menu {
  list-style: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 20%;
  top: 90%;
  background: var(--main-bg-color);
  max-width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: unset;
  border-radius: 10px;
  border: 0.125px solid var(--second-bg-color);
}

.navbar .nav-right .dropdown .dropdown-menu__header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--second-bg-color);
}

.navbar .nav-right .dropdown .dropdown-menu__content {
  max-height: 500px;
  overflow-y: auto;
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item {
  width: 100%;
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--main-color);
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item__link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item__link div i {
  font-size: 1.25rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item__link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item__link span > span {
  font-size: 10px;
}

.navbar .nav-right .dropdown .dropdown-menu .dropdown-menu-item__link:hover {
  cursor: pointer;
  background: var(--second-bg-color);
}

.navbar .nav-right .dropdown .dropdown-menu .overlay-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}

.navbar .nav-right .dropdown .dropdown-menu .overlay-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid var(--main-bg-color);
}

.navbar .nav-right .dropdown .dropdown-menu .overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.navbar .nav-right .dropdown .dropdown-menu .overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.navbar .nav-right .dropdown .dropdown-menu .overlay-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

.navbar .nav-right .dropdown .dropdown-menu__footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--second-bg-color);
}

.navbar .nav-right .dropdown .dropdown-expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-right .dropdown .notificaiton-menu {
  min-width: 380px;
}

.sidebar {
  width: 82px;
  height: 100vh;
  position: fixed;
  margin-top: 65px;
  background: var(--main-bg-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.sidebar .sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.sidebar .sidebar-nav .sidebar-nav-item {
  width: 100%;
}

.sidebar .sidebar-nav .sidebar-nav-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.sidebar .sidebar-nav .sidebar-nav-item__link i {
  font-size: 1.5rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar .sidebar-nav .sidebar-nav-item__link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.sidebar .sidebar-nav .sidebar-nav-item__link:hover {
  background: var(--second-bg-color);
}

.sidebar .sidebar-nav .sidebar-nav-item__link.active {
  background: var(--second-bg-color);
  color: #eb4d4b;
}

.sidebar .sidebar-nav .sidebar-nav-item__link.active div {
  border-left: 5px solid #eb4d4b;
}

.sidebar .sidebar-nav .sidebar-nav-item__link.active i {
  color: #eb4d4b;
  margin-left: -5px;
}

.sidebar:hover {
  width: 250px;
}

.sidebar-expand .sidebar {
  width: 250px;
}

.sidebar-expand .wrapper {
  margin-left: 250px;
}

.wrapper {
  padding: 10px;
  padding-top: 75px;
  background: var(--second-bg-color);
  margin-left: 82px;
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
}

.wrapper .counter {
  padding: 16px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.wrapper .counter i {
  font-size: 15px;
}

.wrapper .card {
  background: var(--main-bg-color);
  color: var(--main-color);
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.wrapper .card__header {
  padding: 15px 30px;
  border-bottom: 1px solid var(--second-bg-color);
  position: relative;
}

.wrapper .card__header h3 {
  margin: 0;
}

.wrapper .card__header i {
  color: var(--main-color);
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .card__header i:hover {
  cursor: pointer;
}

.wrapper .card__content {
  padding: 20px;
  overflow-x: auto;
}

.wrapper .card__content .dot i {
  display: inline-block;
  width: .385rem;
  height: .385rem;
  margin-right: .385rem;
  vertical-align: middle;
  border-radius: 50%;
}

.wrapper .card__content .progress-wrapper {
  margin-bottom: 15px;
}

.wrapper .card__content .progress-wrapper .progress {
  height: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .75rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: .25rem;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.light .light-icon {
  display: none;
}

.dark .dark-icon {
  display: none;
}
/*# sourceMappingURL=app.css.map */