.wrapper{
    padding: 10px;
    padding-top: 75px;
    background: var(--second-bg-color);
    margin-left: 82px;
    transition: margin-left .5s;
    
    .counter{
        padding: 16px;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        i{
            font-size: 15px;
        }
    }
    .card{
        background: var(--main-bg-color);
        color: var(--main-color);
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        &__header{
            padding: 15px 30px;
            border-bottom: 1px solid var(--second-bg-color);
            position: relative;
            h3{
                margin: 0;
            }
            i{
                color: var(--main-color);
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                &:hover{
                    cursor: pointer;
                }
            }
        }
        &__content{
            padding: 20px;
            overflow-x: auto;
            .dot{
                i{
                    display: inline-block;
                    width: .385rem;
                    height: .385rem;
                    margin-right: .385rem;
                    vertical-align: middle;
                    border-radius: 50%;
                }
            }
            .progress-wrapper{
                margin-bottom: 15px;
                .progress{
                    height: 10px;
                    overflow: hidden;
                    display: flex;
                    font-size: .75rem;
                    background: rgba(0,0,0,0.05);
                    border-radius: .25rem;
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }
            }
        }
    }
}
.light{
    .light-icon{
        display: none;
    }
}
.dark{
    .dark-icon{
        display: none;
    }
}
